.wrapper {
  min-height: 100%;
  padding-bottom: 1px;
}

.carousel-item {
  background-image: url('../../assets/put.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-caption {
  position: static !important;
}
