.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 8px black;
  text-align: left;
}

.rwdpDayBoxDesktop .rwdp-DayCircle {
   /* border: 2px solid blue; */
   color: white;
}

.rwdp-DayCircle .rwdp-DayCircle-unavailable .rwdp-flex-box .rwdp-flex-column .rwdp-justify-content-center .rwdp-align-items-center {

}

.rwdp-DayCircle-unavailable-text .rwdp-DayCircle {
  color: white;
}
