.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 8px black;
  text-align: left;
}

.carousel-item {
  background-image: url('../../assets/put.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-caption {
  position: static !important;
}

.carousel-inner {
  width: 100%;
  max-height: 100%;
}

.rwdpDayBoxDesktop .rwdp-DayCircle-today {
    color: white;
    position: absolute;
    top: -28px;
}

.rwdpDayBoxDesktop .rwdp-DayCircle {
   border: 2px solid #2d99bf;
   color: white;
}

/* .rwdp-DayCircle .rwdp-DayCircle-unavailable .rwdp-flex-box .rwdp-flex-column .rwdp-justify-content-center .rwdp-align-items-center {

} */

.rwdp-DayCircle-unavailable-text .rwdp-DayCircle {
  color: white;
}
