form.signup,
form.login {
  margin-top: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color:lightgrey;
}

.wrapper {
  background-image: url('../../assets/put.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: static !important;
}
