/* .form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

h2 {
  color: black;
}

img {
  width: 75%;
  height: 75%;
}

h2 {
  padding-top:10%;
  margin-top:10%;
  border-top:10%;
} */




/* #carouselExampleIndicators {
    width: 100%;
}
.carousel-item img {
    height: 100%;
    width: auto;
    max-width: none;
} */




/* .carousel-item {
   background-image: url('../../assets/put.jpg');
} */
