footer {
  font-family: 'Josefin Sans', sans-serif;
  color: orange;
}

/* footer.navbar.navbar-default {
  margin-bottom: 0;
} */

/* .navbar {
  border-radius: 0 !important;
  border-bottom: 0;
  margin: 20px 0 0;
}

.navbar-default {
  border-radius: 0 !important;
  border-bottom: 0;
  margin: 20px 0 0;
} */

/* .copyright {
  padding-bottom: @padding-small-horizontal;
  padding-top: @padding-small-horizontal / 2;
} */
