form.signup,
form.login {
  margin-top: 50px;
}

.wrapper {
  background-image: url('../../assets/put.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: static !important;
}

.form-group {
  color: white;
}

